<!--
  In this template a table was created and has a column for each field 
  for the customer table. 
  Within the table body, the ngFor directive is implemented
-->
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Grade Level</th>
            <th scope="col">Topic Id</th>
            <th scope="col">Customer Description</th>
          </tr>
        </thead>
        <tbody>
            <!-- the ngFor directive is a repeater, it helps
            iterating over the contents of a variable, in this case, customers-->
          <tr *ngFor="let customer of customers">
            <td>{{ customer.customerId }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.zipCode }}</td>
            <td>{{ customer.gradeLevel }}</td>
            <td>{{ customer.topicId }}</td>
            <td>{{ customer.customerDescription }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>