<!--
  This is the html file which contains the form and inputs to create a customer
  The ngSubmit directive calls the onSubmit method in the ts class of this component.
  The ngForm alows angular to control the whole form, and keeps track of it with the
  ngModel. The value of ngModel equals that of each customer's field.
-->
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="customer.email" 
              class="form-control" 
              id="email" 
              name="email" 
              placeholder="Enter your email address"
              required #email="ngModel">
            <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
          </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="customer.firstName" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter your name"
            required #name="ngModel">
            <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" [(ngModel)]="customer.lastName" 
              class="form-control" 
              id="lastname" 
              name="lastname" 
              placeholder="Enter your last name"
              required #lastname="ngModel">
          <div [hidden]="!lastname.pristine" class="alert alert-danger">Last name is required</div>
      </div>

        <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input type="text" [(ngModel)]="customer.zipCode" 
            class="form-control" 
            id="zipcode" 
            name="zipcode" 
            placeholder="Enter your zip code"
            required #zipcode="ngModel">
        <div [hidden]="!zipcode.pristine" class="alert alert-danger">Zip Code is required</div>
        </div>

        <div class="form-group">
            <label for="gradelevel">Grade Level</label>
            <input type="text" [(ngModel)]="customer.gradeLevel" 
            class="form-control" 
            id="gradelevel" 
            name="gradelevel" 
            placeholder="Enter Grade Level"
            required #gradelevel="ngModel">
        <div [hidden]="!gradelevel.pristine" class="alert alert-danger">Grade Level is required</div>
        </div>

        <div class="form-group">
            <label for="topicid">Topic Id</label>
            <select [(ngModel)]="customer.topicId" 
            class="form-control" 
            id="topicid" 
            name="topicid" 
            required #topicid="ngModel">
          
            </select>
        <div [hidden]="!topicid.pristine" class="alert alert-danger">Customer Description is required</div>
        </div>

        <div class="form-group">
          <label for="customerdescription">Customer Description</label>
          <input type="text" [(ngModel)]="customer.customerDescription" 
          class="form-control" 
          id="customerdescription" 
          name="customerdescription" 
          placeholder="Enter Customer Description"
          required #customerdescription="ngModel">
      <div [hidden]="!customerdescription.pristine" class="alert alert-danger">Customer Description is required</div>
      </div>

        <button type="submit" [disabled]="!customerForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
