<!--
  Here we edit the customer fields
-->
<div class="card my-5">
    <div class="card-body">
      <div *ngIf="customer">
        <h2>Update Customer</h2>
        <div>
          <p>
         Email: <input [(ngModel)]="customer.email" class="form-control" placeholder="Email">
          </p>
                   
          <p>
         First Name: <input [(ngModel)]="customer.firstName" class="form-control" placeholder="First Name">
          </p>

          <p>
            Last Name: <input [(ngModel)]="customer.lastName" class="form-control" placeholder="Last Name">
          </p>
          <p>
            Zip Code: <input [(ngModel)]="customer.zipCode" class="form-control" placeholder="Zip Code">
          </p>

          <p>
            Grade Level: <select [(ngModel)]="customer.gradeLevel" 
            class="form-control" 
            id="gradelevel" 
            name="gradelevel" 
            required #gradelevel="ngModel">
            <option value="default">----</option>      
            <option *ngFor="let gradeDrop of gradeDrops">
              {{ gradeDrop.gradeLevelName }}
            </option>
            </select>
          </p>

          <p>
            Topic Id:  <select [(ngModel)]="customer.topicId" 
            class="form-control" 
            id="topicid" 
            name="topicid" 
            required #topicid="ngModel">
            <option value="default">-----</option>
            <option *ngFor="let topicDrop of topicDrops">
              {{ topicDrop.topicId }}
            </option>
            </select>
          </p>

          <p>
            Description: <input [(ngModel)]="customer.customerDescription" class="form-control" placeholder="Description">
          </p>
        </div>
        <button (click)="save()" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>

