<!--
  Here we edit the customer fields
-->
<div class="card my-5">
    <div class="card-body">
      <div *ngIf="customer">
        <h2>Update Customer</h2>
        <div>
          <p>
         Email: <input [(ngModel)]="customer.email" class="form-control" placeholder="Email">
          </p>
                   
          <p>
         First Name: <input [(ngModel)]="customer.firstName" class="form-control" placeholder="First Name">
          </p>

          <p>
            Last Name: <input [(ngModel)]="customer.lastName" class="form-control" placeholder="Last Name">
          </p>
          <p>
            Zip Code: <input [(ngModel)]="customer.zipCode" class="form-control" placeholder="Zip Code">
          </p>

          <p>
            Grade Level: <input [(ngModel)]="customer.gradeLevel" class="form-control" placeholder="Grade Level">
          </p>

          <p>
            Topic Id: <input [(ngModel)]="customer.topicId" class="form-control" placeholder="Topic Id">
          </p>

          <p>
            Description: <input [(ngModel)]="customer.customerDescription" class="form-control" placeholder="Description">
          </p>
        </div>
        <button (click)="save()" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>

