<!--
  Here we can edit the fields of the processor
-->
<div class="card my-5">
    <div class="card-body">
      <div *ngIf="processor">
        <h2>Update Processor</h2>
        <div>
          <p>
         Email: <input [(ngModel)]="processor.email" class="form-control" placeholder="Email">
          </p>
                   
          <p>
         First Name: <input [(ngModel)]="processor.firstName" class="form-control" placeholder="First Name">
          </p>

          <p>
            Last Name: <input [(ngModel)]="processor.lastName" class="form-control" placeholder="Last Name">
          </p>
          <p>
            Processor Intro: <input [(ngModel)]="processor.processorIntro" class="form-control" placeholder="Processor Intro">
          </p>

          <p>
            Supported Topics: <select [(ngModel)]="processor.supportedTopics" 
            class="form-control" 
            id="supportedtopics" 
            name="supportedtopics" 
            required #supportedtopics="ngModel">
            <option value="default">-----</option>
            <option *ngFor="let topicDrop of topicDrops">
              {{ topicDrop.topicName }}
            </option>
            </select>
          </p>

          <p>
            Grade Level: <select [(ngModel)]="processor.processorGradeLevel" 
            class="form-control" 
            id="processorgradelevel" 
            name="processorgradelevel" 
            required #processorgradelevel="ngModel">
            <option value="default">----</option>      
            <option *ngFor="let gradeDrop of gradeDrops">
              {{ gradeDrop.gradeLevelName }}
            </option>
            </select>
          </p>
        </div>
        <button (click)="save()" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>